*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --light-gray: rgba(255, 255, 255, 0.219);
}

body {
  background-color: gray;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: var(--primary-color);
  width: 100vw;
  height: 4em;
  padding: 0.7em 1em 0.7em 7em;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    position: absolute;
    left: 1em;
    top: 1em;

    width: 6em;
    aspect-ratio: 1;
    background-color: transparent;
    background-image: url("../images/logo-light.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .downloadButton {
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 5em;
    background-color: var(--primary-color);
    background-image: url("/images/buttons/Downloadnow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navButton,
  .musicButton {
    width: 3em;
    aspect-ratio: 1;
  }

  .musicButton {
    border: none;
    border-radius: 50%;
    background-image: url("/images/buttons/music-out-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .musicButton.on {
    background-image: url("/images/buttons/music-on-icon.png");
  }

  .navButton {
    background-color: var(--primary-color);
    border: solid 0.2em var(--secondary-color);
    border-radius: 0.6em;
    padding: 0.4em 0;

    display: grid;
    place-content: center;
    position: relative;
  }

  .navButton.open {
    border: none;
    background-color: var(--light-gray);
  }
}

.navButton span {
  display: block;
  width: 2em;
  height: 0.3em;
  background-color: var(--secondary-color);
  border-radius: 0.5em;
  transition-duration: 0.5s;
}

.navButton span:first-of-type {
  transform: translateY(-0.35em);
}

.navButton span:last-of-type {
  transform: translateY(0.35em);
}

.navButton.open span:first-of-type {
  transform-origin: left;
  transform: rotate(45deg) translateY(-0.5em) scaleX(0.9);
}

.navButton.open span:nth-of-type(2) {
  transform: scale(0);
}

.navButton.open span:last-of-type {
  transform-origin: left;
  transform: rotate(-45deg) translateY(0.5em) scaleX(0.9);
}
